<div class="uk-container card-detail">
    <img class="uk-img" src="/img/{{goods.pic}}">
    <h1 class="uk-card-title">{{goods.title}} </h1>
    <p class="uk-text-normal descr">{{goods.descr}} </p>
    <p class="price uk-text-primary">{{goods.price}}</p>

{{#iftrue isAuth isAdmin}}
    <div class="uk-child-width-expand@s uk-text-center" uk-grid>
        <div class="uk-card-body">
            <a href="/catalog/{{goods.id}}/edit" class="uk-button uk-button-primary">Изменить</a>
        </div>
        <div class="uk-card-body">
            <form action="/catalog/delete" method="POST">
                <input type="hidden" name="gid" value="{{goods.id}}">
                <button type="submit" class="uk-button uk-button-danger">Удалить</button>
            </form>
        </div>
    </div>
{{/iftrue}}
</div>
